@import "tailwindcss";

@theme {
  --color-primary: #a0277c;
  --color-sidebar: #1e1428;
  --color-success: #1d9e75;
  --color-stock-low-bg: #fcebeb;
  --color-stock-low-text: #a32d2d;
  --color-stock-ok-bg: #e1f5ee;
  --color-stock-ok-text: #0f6e56;
  --color-background: #f7f8fc;
  --color-border: #e5e7eb;
  --color-text-primary: #111827;
  --color-text-secondary: #6b7280;

  /* Color personalizado para las tarjetas blancas */
  --color-card-bg: #ffffff;
}

/* ========================================== */
/* CONFIGURACIÓN MODO OSCURO PARA TAILWIND V4 */
/* ========================================== */
@variant dark (&:where(.dark, .dark *));

@layer base {
  :root.dark {
    /* Redefinimos variables para el Modo Oscuro */
    --color-background: #0b0f19; /* Fondo general oscuro */
    --color-card-bg: #161b26; /* Fondo de tarjetas oscuro */
    --color-border: #242b3d; /* Bordes oscuros */
    --color-text-primary: #f9fafb; /* Texto principal blanco */
    --color-text-secondary: #9ca3af; /* Texto secundario gris claro */

    /* Ajustes opcionales para el Sidebar en modo oscuro si lo deseas */
    --color-sidebar: #0f0a1a;
  }
}

/* Estilos nativos base */
html {
  font-family: "Inter", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--color-background);
  color: var(--color-text-primary);
  transition:
    background-color 0.3s ease,
    color 0.3s ease; /* Transición suave */
}

* {
  box-sizing: border-box;
}
